/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.loading {
  display: grid;
  place-content: center;
  width: 100%;
  user-select: none;
}

.loading > div {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #575758;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.browser-css-theme div,
.browser-css-theme p {
  color: white !important;
}

.browser-css-theme h1,
.browser-css-theme h2,
.browser-css-theme h3,
.browser-css-theme h4,
.browser-css-theme h5,
.browser-css-theme h6 {
  color: #191919 !important;
}

.browser-css-theme > h2 {
  color: #c5c5c5 !important;
}
